# Analysis Project: Picogreen Concentration vs. User

In [1]:
#Import necessary functions
import csv
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

In [2]:
#Reading Google Doc as csv
#ps = patch_seq file
ps = pd.read_csv("patch_seq_log_mouse.csv")

In [3]:
#Choosing the columns to use for this program
#2017 Data (1/04/17-Present 2018)
#list_initial = list with desired columns 
list_initial = ["Date", "User", "Rig #", "Picogreen conc. (pg/uL)", "PCR cycles", "SM_QC_PF", "Bad dates"]
ps = ps[list_initial]
ps.head()

,Date,User,Rig #,Post patch?,BA conc. >400 (pg/uL),PCR cycles,SM_QC_PF,Bad dates
0,170104,P1,5,Outside-Out,122,18.0,pass,x
1,170104,P1,5,No-Seal,292,18.0,pass,x
2,170104,P1,5,No-Seal,218,18.0,pass,x
3,170104,P1,5,No-Seal,170,18.0,pass,x
4,170104,P1,5,Outside-Out,385,18.0,pass,x

#### Filtering & Sorting the columns

In [6]:
#Changing Date Format
ps["Date"] = pd.to_datetime(ps["Date"], format = "%y%m%d", errors = "coerce")


#Changing String to Numerical
ps["BA conc. >400 (pg/uL)"] = pd.to_numeric(ps["BA conc. >400 (pg/uL)"].str.replace(' ',''), errors ='coerce')

#Categories
ps["Post patch?"] = ps["Post patch?"].astype("category")
ps["PCR cycles"] = ps["PCR cycles"].astype("category")
ps["SM_QC_PF"] = ps["SM_QC_PF"].astype("category")
ps["Bad dates"] = ps["Bad dates"].astype("category")

#Filtering Columns
ps = ps[ps["PCR cycles"] == 21]      #Shows 21 pcr cycles
ps = ps[ps["SM_QC_PF"] != "cnt"]     #Shows everything except cnt
ps = ps[ps["Bad dates"] != "x"]      #Shows everthing except x
ps = ps[ps["BA conc. >400 (pg/uL"] < 8000]

#Dropping blank columns
ps = ps.drop("Bad dates", 1)
#ps.dropna(subset = ["Post patch?", "Time spent extracting cytosol", "BA conc. >400 (pg/uL)", "SM_QC_PF"], inplace = True)
ps.head()

,Date,User,Rig #,Post patch?,BA conc. >400 (pg/uL),PCR cycles,SM_QC_PF
1634,2017-04-19,P2,6,Outside-Out,8.0,21.0,fail
1635,2017-04-19,P2,6,Outside-Out,461.0,21.0,pass
1636,2017-04-19,P2,6,No-Seal,1.0,21.0,fail
1637,2017-04-19,P2,6,Nucleated,979.0,21.0,pass
1638,2017-04-19,P2,6,Outside-Out,456.0,21.0,pass