# SQL Module 1: Copied from Aaron on single_cell_ephys Github

### Import

In [1]:
import pg8000          #pg8000 access SQL databases
import pandas as pd    #pandas will be needed to work in a dataframe

### Functions created by Agata to access LIMS

In [2]:
#Code from Agata
#Opens LIMS, makes a query and then closes LIMS after

def _connect(user="limsreader", host="limsdb2", database="lims2", password="limsro", port=5432):
    conn = pg8000.connect(user=user, host=host, database=database, password=password, port=port)
    return conn, conn.cursor()

def _select(cursor, query):
    cursor.execute(query)
    columns = [ d[0] for d in cursor.description ]
    return [ dict(zip(columns, c)) for c in cursor.fetchall() ]

def limsquery(query, user="limsreader", host="limsdb2", database="lims2", password="limsro", port=5432):
    """A function that takes a string containing a SQL query, connects to the LIMS database and outputs the result."""
    conn, cursor = _connect(user, host, database, password, port)
    try:
        results = _select(cursor, query)
    finally:
        #THESE ARE IMPORTANT!!!!!! (Every query needs to be closed when done)
        #This closes query
        cursor.close()             
        conn.close()
    return results


#This last function will take our query results and put them in a dataframe so that they are easy to work with
def get_lims_dataframe(query):
    '''Return a dataframe with lims query'''
    result = limsquery(query)
    try:
        data_df = pd.DataFrame(data=result, columns=result[0].keys())
    except IndexError:
        print "Could not find results for your query."
        data_df = pd.DataFrame()
    return data_df

### Example: Accessing LIMS and looking at data tables

##### specimens table: shows the column with one row entry

In [8]:
my_query = "SELECT * FROM specimens LIMIT 1"
#asterisk(*) = all columns
#specimens = table name
#LIMIT 10 = limits search to first 10 rows

my_result = limsquery(my_query)
first_element = my_result[0]
#first element is created to only look at the first row
#print my_result
print first_element.keys()
#Shows all columns and one row of entry

['cell_depth', 'ephys_roi_result_id', 'parent_y_coord', 'reference_space_id', 'updated_at', 'cell_label', 'preparation_method_id', 'parent_x_coord', 'location_id', 'id', 'cortex_layer_id', 'plane_of_section_id', 'frozen_at', 'flipped_specimen_id', 'data', 'pinned_radius', 'rna_integrity_number', 'histology_well_name', 'created_by', 'priority', 'parent_id', 'ephys_start_time_sec', 'project_id', 'alignment3d_id', 'carousel_well_name', 'patched_cell_container', 'updated_by', 'cell_prep_id', 'biophysical_model_state', 'barcode', 'storage_directory', 'x_coord', 'tissue_ph', 'specimen_preparation_method_id', 'donor_id', 'operation_id', 'ephys_neural_tissue_plan_id', 'structure_id', 'parent_z_coord', 'facs_well_id', 'name', 'y_coord', 'normalization_group_id', 'postmortem_interval_id', 'specimen_set_id', 'created_at', 'tissue_processing_id', 'ephys_cell_plan_id', 'hemisphere_id', 'ephys_qc_result', 'cell_reporter_id', 'task_flow_id', 'external_specimen_name']

##### specimens table: shows all column names

In [7]:
my_query = "SELECT * FROM ephys_roi_results LIMIT 1"
#asterisk(*) = all columns
#specimens = table name
#LIMIT 1 = limits search to first row

my_result = limsquery(my_query)
first_element = my_result[0]
#first_element is created to only look at the first row

print first_element.keys()
#keys = column names
#Shows all columns names

['rig_name', 'ephys_qc_criteria_id', 'failed_bad_rs', 'updated_at', 'storage_directory', 'electrode_0_pa', 'input_resistance_mohm', 'id', 'stage2_reviewer_id', 'blowout_mv', 'failed_other', 'sampling_rate', 'input_access_resistance_ratio', 'failed_no_seal', 'workflow_state', 'ephys_specimen_roi_plan_id', 'initial_access_resistance_mohm', 'qc_notes', 'recording_date', 'created_at', 'seal_gohm', 'published_at', 'failed_clogged_pipette', 'stage1_reviewer_id', 'failed_electrode_0', 'notes']

In [5]:
my_query = "SELECT * FROM donors LIMIT 1"
#asterisk(*) = all columns
#specimens = table name
#LIMIT 1 = limits search to first row

my_result = limsquery(my_query)
first_element = my_result[0]
#first_element is created to only look at the first row

print first_element.keys()
#keys = column names
#Shows all columns names

['weight', 'education_level_id', 'updated_at', 'height', 'transgenic_induction_method_id', 'id', 'death_on', 'primary_tissue_source_id', 'full_genotype', 'induction_method', 'age_id', 'created_by', 'occupation_id', 'date_of_birth', 'external_donor_name', 'race_id', 'death_manner_id', 'updated_by', 'organism_id', 'data', 'name', 'created_at', 'gender_id', 'baseline_weight_g', 'death_cause_id', 'handedness_id']

### How to display one table as a dataframe

In [29]:
specimens_query = "SELECT * FROM specimens LIMIT 5"
lims_df = get_lims_dataframe(specimens_query)
lims_df

,cell_depth,ephys_roi_result_id,parent_y_coord,reference_space_id,updated_at,cell_label,preparation_method_id,parent_x_coord,location_id,id,...,postmortem_interval_id,specimen_set_id,created_at,tissue_processing_id,ephys_cell_plan_id,hemisphere_id,ephys_qc_result,cell_reporter_id,task_flow_id,external_specimen_name
0,None,None,0.0,None,2016-12-16 04:54:44.477335,None,None,2.0,None,556516441,...,None,None,2016-11-07 16:03:11.459275,555257241,None,None,None,None,None,None
1,None,None,NaN,None,2017-04-19 14:52:52.593310,None,None,NaN,None,581535046,...,None,None,2017-04-14 16:19:20.011713,581535068,None,None,None,None,None,None
2,None,None,NaN,None,2017-03-01 16:37:56.349162,None,None,NaN,None,571099320,...,None,None,2017-02-24 16:19:14.340373,571099382,None,None,None,None,None,None
3,None,None,NaN,None,2016-12-20 15:59:41.497432,None,None,NaN,None,561463630,...,None,None,2016-12-14 17:16:20.787949,561463640,None,None,None,None,None,None
4,None,None,NaN,None,2017-04-21 14:53:40.845724,None,None,NaN,None,581535066,...,None,None,2017-04-14 16:19:20.491006,581535089,None,None,None,None,None,None

In [30]:
donors_query = "SELECT * FROM donors LIMIT 5"
lims_df = get_lims_dataframe(donors_query)
lims_df

,weight,education_level_id,updated_at,height,transgenic_induction_method_id,id,death_on,primary_tissue_source_id,full_genotype,induction_method,...,death_manner_id,updated_by,organism_id,data,name,created_at,gender_id,baseline_weight_g,death_cause_id,handedness_id
0,27.0,NaN,2014-08-21 18:04:29.171400,None,2.0,304264883,2014-05-30 19:00:00,None,None,None,...,None,None,2,None,Dlg3-Cre_KG118-140704,2014-06-02 18:34:25.590938,1,None,None,None
1,NaN,12.0,2015-10-12 18:15:08.604873,None,NaN,487607512,2015-10-12 00:00:00,None,None,None,...,None,None,2,None,Scnn1a-Tg3-Cre;Ai14-212221,2015-10-01 20:40:52.965928,1,None,None,None
2,NaN,12.0,2015-10-14 18:56:24.462132,None,NaN,488675880,NaT,None,None,None,...,None,None,2,None,Nr5a1-Cre;Ai14-213390,2015-10-14 18:56:24.462132,2,None,None,None
3,NaN,NaN,2014-07-31 15:32:44.664385,None,NaN,305963622,NaT,None,None,None,...,None,None,2,None,Sim1-Cre_KJ18-147763,2014-07-31 15:32:44.664385,3,None,None,None
4,NaN,NaN,2015-11-04 16:27:15.636271,None,2.0,490646938,2015-11-03 00:00:00,None,None,None,...,None,None,2,None,Sim1-Cre_KJ18;Ai14(HZ)-215642,2015-11-04 16:27:15.636271,2,None,None,None

In [67]:
ephys_query = "SELECT * FROM ephys_roi_results LIMIT 5"
lims_df = get_lims_dataframe(ephys_query)
lims_df

,rig_name,ephys_qc_criteria_id,failed_bad_rs,updated_at,storage_directory,electrode_0_pa,input_resistance_mohm,id,stage2_reviewer_id,blowout_mv,...,initial_access_resistance_mohm,qc_notes,recording_date,created_at,seal_gohm,published_at,failed_clogged_pipette,stage1_reviewer_id,failed_electrode_0,notes
0,None,324256702,False,2017-06-02 16:59:38.494775,/allen/programs/celltypes/production/mousecell...,15.1150,739.511040,591545243,485591509.0,3.382243,...,17.023904,None,2017-05-25 20:11:34,2017-05-25 20:49:23.191938,1.606623,None,False,525757437.0,False,None
1,None,324256702,False,2017-08-11 19:28:43.535002,/allen/programs/celltypes/production/mousecell...,-0.8450,172.504224,605846847,485591509.0,1.479923,...,16.370420,None,2017-08-01 17:34:10,2017-08-01 18:04:39.483043,1.055227,None,False,305127608.0,False,None
2,None,324256702,False,2017-08-02 23:25:07.483748,/allen/programs/celltypes/production/mousecell...,-16.4775,440.122624,606152814,NaN,NaN,...,13.762438,None,2017-08-02 21:08:18,2017-08-02 21:49:25.474869,1.892042,None,True,NaN,False,None
3,None,324256702,None,2017-09-21 17:39:46.596585,/allen/programs/celltypes/production/mousecell...,NaN,NaN,637823738,NaN,NaN,...,NaN,None,NaT,2017-09-21 17:39:46.495650,NaN,None,None,NaN,None,None
4,None,324256702,None,2016-08-11 17:10:42.079461,/allen/programs/celltypes/production/mousecell...,NaN,NaN,305384219,NaN,NaN,...,NaN,None,NaT,2014-07-14 22:11:51.196915,NaN,None,None,NaN,None,None

In [69]:
#To shows columns within dataframe
lims_df.columns

Index([u'rig_name', u'ephys_qc_criteria_id', u'failed_bad_rs', u'updated_at',
       u'storage_directory', u'electrode_0_pa', u'input_resistance_mohm',
       u'id', u'stage2_reviewer_id', u'blowout_mv', u'failed_other',
       u'sampling_rate', u'input_access_resistance_ratio', u'failed_no_seal',
       u'workflow_state', u'ephys_specimen_roi_plan_id',
       u'initial_access_resistance_mohm', u'qc_notes', u'recording_date',
       u'created_at', u'seal_gohm', u'published_at', u'failed_clogged_pipette',
       u'stage1_reviewer_id', u'failed_electrode_0', u'notes'],
      dtype='object')

### How to JOIN tables together with a same column to create a dataframe

In [18]:
#This is the basics of how a SQL query looks
#SELECT TableA., TableB., TableC., TableD. FROM TableA JOIN TableB ON TableB.aID = TableA.aID 
#JOIN TableC ON TableC.cID = TableB.cID WHERE DATE(TableC.date)=date(now())
#This allows us to pull in info from 4 different tables since everything we want is not 
#stored in one place, but there are overlaps to link things up. 10 digit IDs generally are your link

In [ ]:
#lims_query = "SELECT table_name1.col_name1, table_name2.col_name2 \
#              FROM table_name1 JOIN table_name2 ON col_name1 = col_name2"
#lims_df = get_lims_dataframe(lims_query)
#lims_df.tail()

##### Example: INNER JOIN

In [64]:
#Note both specimens and donors have an ID column
#\ = lets you continue in new line below

lims_query = "SELECT specimens.cell_depth, donors.weight, specimens.id, donors.id \
              FROM specimens INNER JOIN donors ON specimens.id = donors.id"
lims_df = get_lims_dataframe(lims_query)
lims_df.tail()

     cell_depth    id  weight
6727       None  1276     NaN
6728       None  1277     2.3
6729       None  1278     2.6
6730       None  2886     NaN
6731       None  4436     NaN

In [62]:
lims_query = "SELECT specimens.cell_depth, donors.weight, specimens.id, donors.id \
              FROM donors INNER JOIN specimens ON donors.id = specimens.id"
lims_df = get_lims_dataframe(lims_query)
lims_df.tail()

     cell_depth    id  weight
6727       None  1276     NaN
6728       None  1277     2.3
6729       None  1278     2.6
6730       None  2886     NaN
6731       None  4436     NaN

##### Aaron's Example

In [32]:
# note both specimens and ephys roi results have an ID column, so we renamed the specimens column 
# as cell_id in the output

lims_query = "SELECT ephys_roi_results.id, specimens.id AS cell_id, specimens.name, specimens.ephys_roi_result_id \
FROM ephys_roi_results JOIN specimens ON specimens.ephys_roi_result_id = ephys_roi_results.id"
lims_df = get_lims_dataframe(lims_query)
lims_df.tail()

,ephys_roi_result_id,cell_id,id,name
13998,670707505,670707523,670707505,Vip-IRES-Cre;Ai14-377304.05.01.01
13999,670709191,670709216,670709191,Vip-IRES-Cre;Ai14-377304.03.01.01
14000,670761564,670761569,670761564,Nr5a1-Cre;Ai14-378059.08.06.01
14001,670771758,670771764,670771758,Tlx3-Cre_PL56;Ai140;Vip-IRES-FlpO;Ai65F-378314...
14002,670776759,670776794,670776759,Nr5a1-Cre;Ai14-378060.09.06.02

### How to access the whole list of LIMS data tables

##### Choose from table name from list to create dataframe

In [6]:
my_query = "SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES"
my_result = limsquery(my_query)
my_result

[{'table_name': u'pg_type'},
 {'table_name': u'pg_roles'},
 {'table_name': u'pg_group'},
 {'table_name': u'pg_user'},
 {'table_name': u'pg_rules'},
 {'table_name': u'pg_views'},
 {'table_name': u'pg_tables'},
 {'table_name': u'pg_matviews'},
 {'table_name': u'pg_indexes'},
 {'table_name': u'pg_stats'},
 {'table_name': u'pg_settings'},
 {'table_name': u'pg_locks'},
 {'table_name': u'pg_cursors'},
 {'table_name': u'pg_available_extensions'},
 {'table_name': u'pg_available_extension_versions'},
 {'table_name': u'pg_prepared_xacts'},
 {'table_name': u'pg_prepared_statements'},
 {'table_name': u'pg_seclabels'},
 {'table_name': u'pg_timezone_abbrevs'},
 {'table_name': u'pg_timezone_names'},
 {'table_name': u'pg_stat_all_tables'},
 {'table_name': u'pg_stat_xact_all_tables'},
 {'table_name': u'pg_stat_sys_tables'},
 {'table_name': u'pg_stat_xact_sys_tables'},
 {'table_name': u'pg_stat_user_tables'},
 {'table_name': u'pg_stat_xact_user_tables'},
 {'table_name': u'pg_statio_all_tables'},
 {'table_name': u'pg_statio_sys_tables'},
 {'table_name': u'pg_statio_user_tables'},
 {'table_name': u'pg_statio_all_indexes'},
 {'table_name': u'pg_statio_sys_indexes'},
 {'table_name': u'pg_statio_user_indexes'},
 {'table_name': u'pg_statio_all_sequences'},
 {'table_name': u'pg_statio_sys_sequences'},
 {'table_name': u'pg_statio_user_sequences'},
 {'table_name': u'pg_stat_activity'},
 {'table_name': u'pg_stat_replication'},
 {'table_name': u'pg_replication_slots'},
 {'table_name': u'pg_stat_database'},
 {'table_name': u'pg_stat_database_conflicts'},
 {'table_name': u'pg_stat_user_functions'},
 {'table_name': u'pg_stat_xact_user_functions'},
 {'table_name': u'pg_stat_archiver'},
 {'table_name': u'pg_stat_bgwriter'},
 {'table_name': u'pg_user_mappings'},
 {'table_name': u'pg_stat_all_indexes'},
 {'table_name': u'pg_stat_sys_indexes'},
 {'table_name': u'pg_stat_user_indexes'},
 {'table_name': u'information_schema_catalog_name'},
 {'table_name': u'applicable_roles'},
 {'table_name': u'administrable_role_authorizations'},
 {'table_name': u'attributes'},
 {'table_name': u'character_sets'},
 {'table_name': u'check_constraint_routine_usage'},
 {'table_name': u'check_constraints'},
 {'table_name': u'collations'},
 {'table_name': u'collation_character_set_applicability'},
 {'table_name': u'column_domain_usage'},
 {'table_name': u'column_privileges'},
 {'table_name': u'column_udt_usage'},
 {'table_name': u'columns'},
 {'table_name': u'constraint_column_usage'},
 {'table_name': u'constraint_table_usage'},
 {'table_name': u'domain_constraints'},
 {'table_name': u'domain_udt_usage'},
 {'table_name': u'domains'},
 {'table_name': u'enabled_roles'},
 {'table_name': u'key_column_usage'},
 {'table_name': u'parameters'},
 {'table_name': u'referential_constraints'},
 {'table_name': u'role_column_grants'},
 {'table_name': u'routine_privileges'},
 {'table_name': u'role_routine_grants'},
 {'table_name': u'routines'},
 {'table_name': u'schemata'},
 {'table_name': u'sequences'},
 {'table_name': u'pg_attribute'},
 {'table_name': u'pg_proc'},
 {'table_name': u'table_constraints'},
 {'table_name': u'table_privileges'},
 {'table_name': u'role_table_grants'},
 {'table_name': u'tables'},
 {'table_name': u'triggered_update_columns'},
 {'table_name': u'triggers'},
 {'table_name': u'udt_privileges'},
 {'table_name': u'role_udt_grants'},
 {'table_name': u'usage_privileges'},
 {'table_name': u'role_usage_grants'},
 {'table_name': u'user_defined_types'},
 {'table_name': u'view_column_usage'},
 {'table_name': u'view_routine_usage'},
 {'table_name': u'view_table_usage'},
 {'table_name': u'views'},
 {'table_name': u'data_type_privileges'},
 {'table_name': u'element_types'},
 {'table_name': u'column_options'},
 {'table_name': u'foreign_data_wrapper_options'},
 {'table_name': u'foreign_data_wrappers'},
 {'table_name': u'foreign_server_options'},
 {'table_name': u'foreign_servers'},
 {'table_name': u'foreign_table_options'},
 {'table_name': u'foreign_tables'},
 {'table_name': u'user_mapping_options'},
 {'table_name': u'user_mappings'},
 {'table_name': u'pg_constraint'},
 {'table_name': u'pg_index'},
 {'table_name': u'pg_operator'},
 {'table_name': u'pg_opfamily'},
 {'table_name': u'pg_opclass'},
 {'table_name': u'pg_am'},
 {'table_name': u'ephys_qc_criterias'},
 {'table_name': u'rgb_values'},
 {'table_name': u'refseq_human_gff_37'},
 {'table_name': u'rseq_experiments'},
 {'table_name': u'cell_prep_samples_specimens'},
 {'table_name': u'rseq_tube_inputs'},
 {'table_name': u'rseq_tubes'},
 {'table_name': u'analysis_run_containers'},
 {'table_name': u'avg_transformations'},
 {'table_name': u'executables'},
 {'table_name': u'ophys_experiment_analysis_runs'},
 {'table_name': u'rseq_experiment_components_star_analysis_runs'},
 {'table_name': u'methods_versions_task_templates'},
 {'table_name': u'transcripts'},
 {'table_name': u'pg_depend'},
 {'table_name': u'flipped_specimens'},
 {'table_name': u'wij_sets'},
 {'table_name': u'avg_graphic_objects'},
 {'table_name': u'task_templates'},
 {'table_name': u'avg_microarray_templates'},
 {'table_name': u'job_queue_notification_field_values'},
 {'table_name': u'loci'},
 {'table_name': u'sessions'},
 {'table_name': u'image_structure_data'},
 {'table_name': u'email_aliases_projects'},
 {'table_name': u'sub_images'},
 {'table_name': u'genes'},
 {'table_name': u'job_queue_notifications_users'},
 {'table_name': u'rseq_library_preps'},
 {'table_name': u'sql_languages'},
 {'table_name': u'sql_packages'},
 {'table_name': u'sql_sizing'},
 {'table_name': u'sql_sizing_profiles'},
 {'table_name': u'ephys_roi_results'},
 {'table_name': u'genomic_reference_updates'},
 {'table_name': u'differentiation_designs'},
 {'table_name': u'wij_chunks'},
 {'table_name': u'graph_views'},
 {'table_name': u'differentiation_designs_differentiation_stages'},
 {'table_name': u'handednesses'},
 {'table_name': u'cell_prep_sample_types'},
 {'table_name': u'annovaluemaps'},
 {'table_name': u'primers'},
 {'table_name': u'refseq_macaque_gff'},
 {'table_name': u'well_known_file_types'},
 {'table_name': u'annotationdetail'},
 {'table_name': u'differentiation_sets'},
 {'table_name': u'orphanedannotationsets'},
 {'table_name': u'probe_alignments'},
 {'table_name': u'postupdate'},
 {'table_name': u'orphanedentities'},
 {'table_name': u'email_aliases'},
 {'table_name': u'differentiation_stage_instances'},
 {'table_name': u'donors_genotypes'},
 {'table_name': u'equipment_runplans'},
 {'table_name': u'probe_expressed_states'},
 {'table_name': u'genotype_types'},
 {'table_name': u'planregionmaps'},
 {'table_name': u'planregionmapcells'},
 {'table_name': u'linkannotation'},
 {'table_name': u'cell_roi_analysis_runs'},
 {'table_name': u'roi_exclusion_training_labels'},
 {'table_name': u'analysis_runs_types'},
 {'table_name': u'annotated_regions'},
 {'table_name': u'api_column_definitions'},
 {'table_name': u'cell_rois_roi_exclusion_labels'},
 {'table_name': u'cell_rois_roi_exclusion_training_labels'},
 {'table_name': u'ercc_sets'},
 {'table_name': u'flat_field_correction_runs'},
 {'table_name': u'organisms'},
 {'table_name': u'project_sets'},
 {'table_name': u'reference_to_reference_transforms'},
 {'table_name': u'refseq_mouse_gff'},
 {'table_name': u'project_sets_projects'},
 {'table_name': u'reference3d_spaces'},
 {'table_name': u'roi_exclusion_labels'},
 {'table_name': u'ext_genes_image_series_v'},
 {'table_name': u'tissue_processings'},
 {'table_name': u'behavior_time_blocks'},
 {'table_name': u'blast_versions'},
 {'table_name': u'specimen_hierarchies'},
 {'table_name': u'experiment_sessions'},
 {'table_name': u'cell_prep_samples'},
 {'table_name': u'ext_genes_v'},
 {'table_name': u'refseq_human_gff'},
 {'table_name': u'ext_image_series_treatments_v'},
 {'table_name': u'rseq_experiment_components'},
 {'table_name': u'specimen_blocks'},
 {'table_name': u'scheduled_procedures_subjects'},
 {'table_name': u'southern_blots'},
 {'table_name': u'spatial_mappings'},
 {'table_name': u'affymetrix_probesets'},
 {'table_name': u'cell_additives'},
 {'table_name': u'cell_prep_roi_plans_cell_prep_templates'},
 {'table_name': u'calculatedilutions_v'},
 {'table_name': u'hemispheres'},
 {'table_name': u'graph_views_structures'},
 {'table_name': u'cdna_primer_report_views'},
 {'table_name': u'methods_versions_watchers'},
 {'table_name': u'job_queue_notification_reports_job_queue_notifications'},
 {'table_name': u'polygon_spatial_mappings'},
 {'table_name': u'injection_materials_surgical_procedures'},
 {'table_name': u'cel1_nucleases'},
 {'table_name': u'job_queue_notifications_job_queues'},
 {'table_name': u'surgical_procedures'},
 {'table_name': u'specimen_metadata'},
 {'table_name': u'tasks_task_templates'},
 {'table_name': u'analysis_runs'},
 {'table_name': u'job_queue_notifications'},
 {'table_name': u'job_queue_notification_field_values_job_queue_notifications'},
 {'table_name': u'job_queue_notification_criterias_job_queue_notifications'},
 {'table_name': u'culture_conditions'},
 {'table_name': u'mouse_chrs_map'},
 {'table_name': u'macaque_chrs_map'},
 {'table_name': u'neuron_reconstruction_tags'},
 {'table_name': u'color_channel_descriptions'},
 {'table_name': u'cultured_cells'},
 {'table_name': u'methods_versions'},
 {'table_name': u'colors'},
 {'table_name': u'log_messages'},
 {'table_name': u'ncbi_sequence_statuses'},
 {'table_name': u'operations'},
 {'table_name': u'probe_pcr_products'},
 {'table_name': u'reference_spaces'},
 {'table_name': u'clone_primer_report_views'},
 {'table_name': u'cell_preps'},
 {'table_name': u'methods_versions_ncrs'},
 {'table_name': u'operation_locations_operations'},
 {'table_name': u'probe_refseq_blast_results'},
 {'table_name': u'cell_preps_cell_prep_roi_plans'},
 {'table_name': u'visual_behavior_details'},
 {'table_name': u'injection_material_propagation_directions'},
 {'table_name': u'donor_dna_constructs_engineering_steps'},
 {'table_name': u'donor_dna_construct_designs_donor_dna_promoters'},
 {'table_name': u'ephys_neural_tissue_plans'},
 {'table_name': u'differentiation_stages_task_flows'},
 {'table_name': u'facs'},
 {'table_name': u'cell_rois'},
 {'table_name': u'ophys_cell_segmentation_runs'},
 {'table_name': u'engineering_drug_instances'},
 {'table_name': u'differentiation_stages'},
 {'table_name': u'facs_population_plans_facs'},
 {'table_name': u'donor_dna_construct_types'},
 {'table_name': u'ephys_roi_plans'},
 {'table_name': u'donor_dna_connections'},
 {'table_name': u'specimen_sets_treatments'},
 {'table_name': u'animal_monitoring_details'},
 {'table_name': u'ncrs_specimens'},
 {'table_name': u'email_aliases_methods_version_types'},
 {'table_name': u'stem_cell_line_states'},
 {'table_name': u'specimen_types_specimens'},
 {'table_name': u'ephys_stimuli'},
 {'table_name': u'annotated_region_histories'},
 {'table_name': u'cross_ontology_mappings'},
 {'table_name': u'bam_anonymization_runs'},
 {'table_name': u'specimen_tags'},
 {'table_name': u'runplan_states'},
 {'table_name': u'specimens_workflows'},
 {'table_name': u'ephys_raw_stimulus_names'},
 {'table_name': u'ephys_sweep_tags_ephys_sweeps'},
 {'table_name': u'ephys_neural_tissue_plans_ephys_roi_plans'},
 {'table_name': u'executables_run_types'},
 {'table_name': u'blocks'},
 {'table_name': u'scheduled_procedure_notifications_users'},
 {'table_name': u'blast_db_types'},
 {'table_name': u'ext_genelookups_v'},
 {'table_name': u'ephys_sweeps'},
 {'table_name': u'primary_tissue_sources'},
 {'table_name': u'postmortem_intervals'},
 {'table_name': u'executables_run_group_types'},
 {'table_name': u'executables_workflows'},
 {'table_name': u'avg_group_labels'},
 {'table_name': u'cell_prep_sample_collection_types'},
 {'table_name': u'ercc_stock_pool_components'},
 {'table_name': u'notification_types'},
 {'table_name': u'ext_structures_v'},
 {'table_name': u'specimens'},
 {'table_name': u'facs_sops'},
 {'table_name': u'flat_structures_v'},
 {'table_name': u'notification_criteria_types'},
 {'table_name': u'operation_types'},
 {'table_name': u'scheduled_procedure_notification_date_ranges_scheduled_procedur'},
 {'table_name': u'notification_run_frequencies'},
 {'table_name': u'fine_structure_searches'},
 {'table_name': u'ncrs'},
 {'table_name': u'facs_population_plans'},
 {'table_name': u'gene_tags_genes'},
 {'table_name': u'isi_experiments'},
 {'table_name': u'operation_locations'},
 {'table_name': u'go_exons'},
 {'table_name': u'gene_classifications_genes'},
 {'table_name': u'occupations'},
 {'table_name': u'notification_reports'},
 {'table_name': u'genomic_objects'},
 {'table_name': u'scheduled_procedure_notification_criterias_scheduled_procedure_'},
 {'table_name': u'assigned_users_scheduled_procedure_notifications'},
 {'table_name': u'scheduled_procedure_notification_reports_scheduled_procedure_no'},
 {'table_name': u'gene_termini'},
 {'table_name': u'notification_criterias'},
 {'table_name': u'projects_scheduled_procedure_notifications'},
 {'table_name': u'unit_of_times'},
 {'table_name': u'injection_coordinates'},
 {'table_name': u'informatics_ranking_queries'},
 {'table_name': u'scheduled_procedure_notifications'},
 {'table_name': u'scheduled_procedure_notification_date_ranges'},
 {'table_name': u'injection_materials'},
 {'table_name': u'unit_of_measurements'},
 {'table_name': u'informatics_ranking_query_results'},
 {'table_name': u'scheduled_procedure_notification_requested_date_ranges_schedule'},
 {'table_name': u'facs_well_templates'},
 {'table_name': u'job_transitions_scanners'},
 {'table_name': u'job_transitions_workflows'},
 {'table_name': u'donor_substances'},
 {'table_name': u'homology_arms'},
 {'table_name': u'substances'},
 {'table_name': u'equipment'},
 {'table_name': u'job_transitions_run_group_types'},
 {'table_name': u'pcr_polymerases'},
 {'table_name': u'ophys_experiment_tags'},
 {'table_name': u'eye_trackings'},
 {'table_name': u'ophys_sessions'},
 {'table_name': u'imaging_depths'},
 {'table_name': u'originating_labs'},
 {'table_name': u'nuclease_activities_pcrs'},
 {'table_name': u'probe_summary_views'},
 {'table_name': u'projects_trigger_types'},
 {'table_name': u'project_well_types'},
 {'table_name': u'experiment_containers'},
 {'table_name': u'reference_spaces_workflows'},
 {'table_name': u'projection_structure_unionizes'},
 {'table_name': u'probe_refseq_blast_results_v'},
 {'table_name': u'related_jobs_v'},
 {'table_name': u'rseq_library_quantification_methods'},
 {'table_name': u'images'},
 {'table_name': u'ophys_experiments'},
 {'table_name': u'rseq_library_prep_sets'},
 {'table_name': u'sections_slides_mappings'},
 {'table_name': u'methods_versions_reviewers'},
 {'table_name': u'medical_condition_types'},
 {'table_name': u'sequencing_instruments'},
 {'table_name': u'scheduled_procedures'},
 {'table_name': u'methods_version_types'},
 {'table_name': u'slide_registration_states'},
 {'table_name': u'specimen_tags_specimens'},
 {'table_name': u'stem_cell_line_sources'},
 {'table_name': u'stem_cell_line_sources_stem_cell_lines'},
 {'table_name': u'structure_sets'},
 {'table_name': u'task_templates_surgical_procedures'},
 {'table_name': u'tcp_sops'},
 {'table_name': u'talen_pairs'},
 {'table_name': u'task_flows'},
 {'table_name': u'transfection_condition_colony_colors'},
 {'table_name': u'trigger_types'},
 {'table_name': u'user_header_elements'},
 {'table_name': u'view_slide_parent_specimens'},
 {'table_name': u'heatmap_runs'},
 {'table_name': u'ephys_cell_plans'},
 {'table_name': u'rseq_experiment_components_single_cell_analysis_runs'},
 {'table_name': u'facs_facs_plate_templates'},
 {'table_name': u'gene_associations'},
 {'table_name': u'annotationset'},
 {'table_name': u'classificationsynonym'},
 {'table_name': u'allseries'},
 {'table_name': u'structures'},
 {'table_name': u'dataset'},
 {'table_name': u'lims2imageseries'},
 {'table_name': u'measuregroupvaluedefinition'},
 {'table_name': u'point'},
 {'table_name': u'class_mappings'},
 {'table_name': u'clone_sources'},
 {'table_name': u'clones'},
 {'table_name': u'probe_fluor_combinations'},
 {'table_name': u'probe_sets_run_groups'},
 {'table_name': u'donors'},
 {'table_name': u'ensembl_genes_v'},
 {'table_name': u'ext_image_series_v'},
 {'table_name': u'fluor_colors'},
 {'table_name': u'freezers'},
 {'table_name': u'ncbi_genes_v'},
 {'table_name': u'refseq_human_gff_36'},
 {'table_name': u'run_group_states'},
 {'table_name': u'scanners'},
 {'table_name': u'pg_event_trigger'},
 {'table_name': u'users_work_groups'},
 {'table_name': u'widgets'},
 {'table_name': u'units'},
 {'table_name': u'thicknesses'},
 {'table_name': u'view_calculate_dilutions'},
 {'table_name': u'work_groups'},
 {'table_name': u'transfection_conditions'},
 {'table_name': u'users'},
 {'table_name': u'well_known_files'},
 {'table_name': u'pg_attrdef'},
 {'table_name': u'pg_amop'},
 {'table_name': u'pg_amproc'},
 {'table_name': u'pg_language'},
 {'table_name': u'pg_aggregate'},
 {'table_name': u'pg_rewrite'},
 {'table_name': u'pg_trigger'},
 {'table_name': u'treatment_tasks'},
 {'table_name': u'pg_description'},
 {'table_name': u'pg_cast'},
 {'table_name': u'pg_enum'},
 {'table_name': u'pg_namespace'},
 {'table_name': u'pg_conversion'},
 {'table_name': u'pg_database'},
 {'table_name': u'pg_db_role_setting'},
 {'table_name': u'pg_tablespace'},
 {'table_name': u'pg_pltemplate'},
 {'table_name': u'pg_auth_members'},
 {'table_name': u'pg_shdepend'},
 {'table_name': u'pg_shdescription'},
 {'table_name': u'pg_ts_config'},
 {'table_name': u'pg_ts_config_map'},
 {'table_name': u'pg_ts_dict'},
 {'table_name': u'pg_ts_parser'},
 {'table_name': u'pg_ts_template'},
 {'table_name': u'pg_extension'},
 {'table_name': u'pg_foreign_data_wrapper'},
 {'table_name': u'pg_foreign_server'},
 {'table_name': u'pg_foreign_table'},
 {'table_name': u'pg_default_acl'},
 {'table_name': u'pg_seclabel'},
 {'table_name': u'pg_shseclabel'},
 {'table_name': u'pg_collation'},
 {'table_name': u'pg_range'},
 {'table_name': u'sql_implementation_info'},
 {'table_name': u'pg_class'},
 {'table_name': u'pg_inherits'},
 {'table_name': u'sql_features'},
 {'table_name': u'pg_largeobject_metadata'},
 {'table_name': u'annotationplan'},
 {'table_name': u'alignment2ds'},
 {'table_name': u'annotationplanreport'},
 {'table_name': u'stringannotation'},
 {'table_name': u'preupdate'},
 {'table_name': u'postupdateall'},
 {'table_name': u'preupdateall'},
 {'table_name': u'affymetrix_transcript_clusters'},
 {'table_name': u'alignment3ds'},
 {'table_name': u'targetentity'},
 {'table_name': u'annotationplanuser'},
 {'table_name': u'planregionmap'},
 {'table_name': u'measuregroup'},
 {'table_name': u'groupuser'},
 {'table_name': u'reflabelupdates'},
 {'table_name': u'atlases_avg_group_labels'},
 {'table_name': u'behavior_protocols'},
 {'table_name': u'activity_cells'},
 {'table_name': u'atlases'},
 {'table_name': u'buffers'},
 {'table_name': u'array_slides'},
 {'table_name': u'affymetrix_macaque_probesets'},
 {'table_name': u'cell_descriptions'},
 {'table_name': u'avg_replicate_types'},
 {'table_name': u'behavior_trainings'},
 {'table_name': u'cell_prep_roi_plans_chemicals'},
 {'table_name': u'crisprs'},
 {'table_name': u'blast_db_files'},
 {'table_name': u'crisprs_nuclease_activities'},
 {'table_name': u'probe_templates'},
 {'table_name': u'sequences'},
 {'table_name': u'custom_reports'},
 {'table_name': u'chemicals'},
 {'table_name': u'cell_bank_types'},
 {'table_name': u'crisprs_engineering_steps'},
 {'table_name': u'biocytin_wells'},
 {'table_name': u'cell_prep_roi_plans'},
 {'table_name': u'behavior_sessions'},
 {'table_name': u'engineering_drugs'},
 {'table_name': u'donor_dna_promoter_components'},
 {'table_name': u'entrez_aliases'},
 {'table_name': u'ephys_stimulus_set_groups'},
 {'table_name': u'ensembl_to_ncbi_mappings'},
 {'table_name': u'donor_dna_recombinases'},
 {'table_name': u'donor_dna_elements'},
 {'table_name': u'ephys_specimen_roi_plans'},
 {'table_name': u'ephys_pipette_types'},
 {'table_name': u'engineering_steps'},
 {'table_name': u'cell_reporters'},

### How to JOIN tables together with a same column to create a dataframe

In [8]:
#This is the basics of how a SQL query looks
#SELECT TableA., TableB., TableC., TableD. FROM TableA JOIN TableB ON TableB.aID = TableA.aID 
#JOIN TableC ON TableC.cID = TableB.cID WHERE DATE(TableC.date)=date(now())
#This allows us to pull in info from 4 different tables since everything we want is not 
#stored in one place, but there are overlaps to link things up. 10 digit IDs generally are your link

In [9]:
#Note both specimens and ephys roi results have an ID column, so we renamed the specimens column 
#As cell_id in the output

lims_query = "SELECT ephys_roi_results.id, specimens.id AS cell_id, specimens.name, specimens.ephys_roi_result_id \
FROM ephys_roi_results JOIN specimens ON specimens.ephys_roi_result_id = ephys_roi_results.id"
lims_df = get_lims_dataframe(lims_query)
lims_df.tail()

,ephys_roi_result_id,cell_id,id,name
13998,670707505,670707523,670707505,Vip-IRES-Cre;Ai14-377304.05.01.01
13999,670709191,670709216,670709191,Vip-IRES-Cre;Ai14-377304.03.01.01
14000,670761564,670761569,670761564,Nr5a1-Cre;Ai14-378059.08.06.01
14001,670771758,670771764,670771758,Tlx3-Cre_PL56;Ai140;Vip-IRES-FlpO;Ai65F-378314...
14002,670776759,670776794,670776759,Nr5a1-Cre;Ai14-378060.09.06.02

In [10]:
#This is the structure we want to follow for SQL:
#SELECT your tables.columns
#FROM these columns are coming if you are going to starting using
#JOIN left ON right
#WHERE gives you the ability to filter data
#AND and OR add variability to your filters
#" opens and closes your query"
#\ lets you wrap text
#We can shorten ephys_roi_results to err and specimens to s, search for all of our features and use
#JOIN to join the search results from ephys_roi_results and specimens following the outline from above

In [11]:
# callout the abreveations in the FROM section
# ephys_roi_results err

lims_query = "SELECT err.id, s.id AS cell_id, s.name \
FROM ephys_roi_results err \
JOIN specimens s ON s.ephys_roi_result_id = err.id"

lims_df = get_lims_dataframe(lims_query)
lims_df.tail()

         cell_id         id                                               name
13998  670707523  670707505                  Vip-IRES-Cre;Ai14-377304.05.01.01
13999  670709216  670709191                  Vip-IRES-Cre;Ai14-377304.03.01.01
14000  670761569  670761564                     Nr5a1-Cre;Ai14-378059.08.06.01
14001  670771764  670771758  Tlx3-Cre_PL56;Ai140;Vip-IRES-FlpO;Ai65F-378314...
14002  670776794  670776759                     Nr5a1-Cre;Ai14-378060.09.06.02

In [12]:
# callout the abreveations in the FROM section
# ephys_roi_results err

lims_query = "SELECT err.id, s.id, s.name, proj.code \
FROM ephys_roi_results err \
JOIN specimens s ON s.ephys_roi_result_id = err.id \
JOIN projects proj ON s.project_id = proj.id \
WHERE proj.code = 'H301'"

lims_df = get_lims_dataframe(lims_query)
lims_df.tail()

     code         id                 name
908  H301  643584484  H17.06.013.12.04.01
909  H301  643589588  H17.06.013.12.04.02
910  H301  643601251  H17.06.013.12.13.01
911  H301  643619982  H17.06.013.12.13.02
912  H301  643625553  H17.06.013.12.13.03

In [13]:
#filters for cells that only failed due to access resistance over 20 MOhm
#grabs the ephys roi result id, project code, recording date, cell name, cell id, and qc results

lims_query = "SELECT err.id, err.recording_date, err.failed_bad_rs, \
err.failed_electrode_0, err.failed_clogged_pipette, err.failed_no_seal, \
err.failed_other, err.workflow_state, s.name, s.ephys_roi_result_id, s.project_id, proj.id, proj.code \
FROM ephys_roi_results err JOIN specimens s ON s.ephys_roi_result_id = err.id \
JOIN projects proj ON s.project_id = proj.id \
WHERE (failed_bad_rs = 'TRUE' \
AND err.failed_electrode_0 = 'FALSE' \
AND err.failed_clogged_pipette = 'FALSE' \
AND err.failed_no_seal = 'FALSE' \
AND err.failed_other = 'FALSE' \
AND err.workflow_state != 'manual_passed') \
AND (proj.code = 'T301' OR proj.code = 'T301x')"

lims_df = get_lims_dataframe(lims_query)
lims_df.tail()

,ephys_roi_result_id,code,recording_date,failed_bad_rs,workflow_state,name,failed_clogged_pipette,failed_other,project_id,failed_electrode_0,id,failed_no_seal
67,601831626,T301,2017-07-10 21:03:11,True,manual_failed,Nos1-CreERT2;Ai14-333287.03.01.01,False,False,305094322,False,305094322,False
68,602660919,T301,2017-07-13 22:16:27,True,manual_failed,Scnn1a-Tg2-Cre;Ai14-333165.04.02.01,False,False,305094322,False,305094322,False
69,604693290,T301x,2017-07-26 22:50:46,True,manual_failed,Rbp4-Cre_KL100;Ai14-337193.04.02.01,False,False,300080300,False,300080300,False
70,605537141,T301x,2017-07-28 20:37:50,True,manual_failed,Gad2-IRES-Cre;Ai14-336420.04.02.01,False,False,300080300,False,300080300,False
71,605538385,T301x,2017-07-28 21:32:11,True,manual_failed,Gad2-IRES-Cre;Ai14-336420.02.02.01,False,False,300080300,False,300080300,False

In [14]:
query = "SELECT * \
FROM scheduled_procedures \
JOIN users ON users.id = scheduled_procedures.assigned_to_id \
JOIN scheduled_procedures_subjects sps ON scheduled_procedures.id = sps.scheduled_procedure_id \
JOIN specimens ON sps.subject_id = specimens.id \
WHERE users.login = 'nadiad' and scheduled_procedures.lab_request_status ='active' \
ORDER BY scheduled_procedures.created_at"
df = get_lims_dataframe(query)
df.head()

,cell_depth,ephys_roi_result_id,siv_default_ontology_id,scheduled_date,parent_y_coord,reference_space_id,task_flow_id,updated_at,requested_date_range_start,carousel_well_name,...,tissue_processing_id,ephys_qc_result,requested_by_id,y_coord,specimen_set_id,cell_reporter_id,login,pinned_radius,external_specimen_name,parent_x_coord
0,None,None,None,2018-03-05 08:00:00,None,9.0,None,2018-03-06 21:02:02.145452,2018-02-20 08:00:00,None,...,None,None,649368583,None,None,None,nadiad,None,356797,None
1,None,None,None,NaT,None,NaN,None,2018-02-22 21:14:37.351421,2018-02-22 08:00:00,None,...,None,None,649368583,None,None,None,nadiad,None,367347,None
2,None,None,None,NaT,None,NaN,None,2018-02-22 21:16:04.779125,2018-02-22 08:00:00,None,...,None,None,649368583,None,None,None,nadiad,None,368296,None
3,None,None,None,NaT,None,NaN,None,2018-02-22 21:15:16.544898,2018-02-22 08:00:00,None,...,None,None,649368583,None,None,None,nadiad,None,368294,None
4,None,None,None,2018-03-06 08:00:00,None,9.0,None,2018-03-05 20:19:43.029910,2018-02-26 08:00:00,None,...,None,None,553513823,None,None,None,nadiad,None,365251,None

In [15]:
query = "SELECT scheduled_procedures.*, sps.subject_id, specimens.name AS mouse_name \
FROM scheduled_procedures \
JOIN users ON users.id = scheduled_procedures.assigned_to_id \
JOIN scheduled_procedures_subjects sps ON scheduled_procedures.id = sps.scheduled_procedure_id \
JOIN specimens ON sps.subject_id = specimens.id \
WHERE users.login = 'nadiad' and scheduled_procedures.lab_request_status ='active'"
df = get_lims_dataframe(query)
df.head()

,task_type,lab_request_status,task_id,department_id,created_at,mouse_name,updated_at,requested_date_range_start,subject_id,batch_name,assigned_to_id,requested_by_id,comments,scheduled_date,methods_versions_map,task_flow_step_id,project_id,location_id,id,requested_date_range_end
0,Task,active,665597226,None,2018-02-20 20:13:38.828488,Slc17a7-IRES2-Cre;Camk2a-tTA;Ai93-356797,2018-03-05 23:34:11.840064,2018-02-20 08:00:00,646498173,dillanb_C600_Brain Observatory Visual Coding_2...,186,649368583,,2018-03-05 08:00:00,{},563649249,305493902,None,665597231,2018-02-20 08:00:00
1,Task,active,667196096,None,2018-02-26 18:56:38.688319,Nr5a1-Cre;Camk2a-tTA;Ai93-361002,2018-02-26 18:56:38.688319,2018-02-26 08:00:00,650072699,dillanb_C600_Brain Observatory Visual Coding_2...,186,553513823,None,NaT,{},563649249,305493902,None,667196099,2018-02-26 08:00:00
2,Task,active,667196240,None,2018-02-26 18:56:41.773087,Cux2-CreERT2;Camk2a-tTA;Ai93-360565,2018-02-26 18:56:41.773087,2018-02-26 08:00:00,649496259,dillanb_C600_Brain Observatory Visual Coding_2...,186,553513823,None,NaT,{},563649249,305493902,None,667196257,2018-02-26 08:00:00
3,Task,active,667196077,None,2018-02-26 18:56:35.046602,Slc17a7-IRES2-Cre;Camk2a-tTA;Ai93-365251,2018-03-05 23:34:22.265162,2018-02-26 08:00:00,654638707,carriea_C600_Brain Observatory Visual Coding_2...,186,553513823,,2018-03-06 08:00:00,"{u'task_flow_steps': [{u'id': 563649243, u'met...",563649249,305493902,None,667196080,2018-02-26 08:00:00
4,Task,active,666487715,None,2018-02-22 21:17:08.356640,Pvalb-IRES-Cre-367347,2018-02-22 21:17:08.356640,2018-02-22 08:00:00,657861412,carriea_MouseBrainCellAtlasTranssynaptic_BRAIN...,186,649368583,None,NaT,"{u'task_flow_steps': [{u'id': None, u'methods_...",656499942,654688276,None,666487718,2018-02-22 08:00:00

In [16]:
#Jim asked to generate a csv with the rows being each patch-seq cell and the columns being the number 
#of sweeps for each of those cells that are of a certain stim.description (name)

query = "SELECT cell.name AS cell_name, \
COUNT(CASE WHEN ephys_stimuli.description LIKE '%%subthreshold%%' THEN 1 ELSE NULL END) AS subthreshold \
FROM specimens cell JOIN ephys_sweeps ess ON cell.id = ess.specimen_id \
JOIN ephys_stimuli ON ess.ephys_stimulus_id = ephys_stimuli.id \
WHERE cell.patched_cell_container NOTNULL \
GROUP BY cell.name"

df2 = get_lims_dataframe(query)
df2.head()

   subthreshold                              cell_name
0             3      Oxtr-T2A-Cre;Ai14-351471.04.01.01
1             0  Slc32a1-IRES-Cre;Ai14-326812.04.02.05
2             0  Slc32a1-IRES-Cre;Ai14-305535.06.02.01
3             0     Gad2-IRES-Cre;Ai14-267341.07.02.02
4             0  Slc17a6-IRES-Cre;Ai14-309388.03.01.01

In [17]:
query = "SELECT cell.name AS cell_name, \
COUNT(CASE WHEN ephys_stimuli.description LIKE '%%subthreshold%%' THEN 1 ELSE NULL END) AS subthreshold, \
COUNT(CASE WHEN ephys_stimuli.description LIKE '%%C1LSFINEST150112%%' THEN 1 ELSE NULL END) AS longsquare, \
COUNT(CASE WHEN ephys_stimuli.description LIKE '%%C1SSFINEST150112%%' THEN 1 ELSE NULL END) AS shortsquare, \
COUNT(CASE WHEN ephys_stimuli.description LIKE '%%C1RP25PR1S141203%%' THEN 1 ELSE NULL END) AS ramp, \
COUNT(CASE WHEN ephys_stimuli.description LIKE '%%Blip%%' THEN 1 ELSE NULL END) AS cap_check, \
COUNT(CASE WHEN ephys_stimuli.description LIKE '%%C2CHIRP171103%%' THEN 1 ELSE NULL END) AS chirp, \
COUNT(CASE WHEN ephys_stimuli.description LIKE '%%C1NSD1SHORT17110%%' THEN 1 ELSE NULL END) AS noise_1, \
COUNT(CASE WHEN ephys_stimuli.description LIKE '%%C1NSD2SHORT17110%%' THEN 1 ELSE NULL END) AS noise_2, \
COUNT(CASE WHEN ephys_stimuli.description LIKE '%%C2SSTRIPLE171103%%' THEN 1 ELSE NULL END) AS triple \
FROM specimens cell JOIN ephys_sweeps ess ON cell.id = ess.specimen_id \
JOIN ephys_stimuli ON ess.ephys_stimulus_id = ephys_stimuli.id \
WHERE cell.patched_cell_container NOTNULL \
GROUP BY cell.name"

df2 = get_lims_dataframe(query)
df2.head()

,noise_1,ramp,shortsquare,chirp,noise_2,subthreshold,cap_check,longsquare,triple,cell_name
0,0,2,5,0,0,3,1,4,0,Oxtr-T2A-Cre;Ai14-351471.04.01.01
1,0,0,0,0,0,0,0,4,0,Slc32a1-IRES-Cre;Ai14-326812.04.02.05
2,0,1,3,0,0,0,0,1,0,Slc32a1-IRES-Cre;Ai14-305535.06.02.01
3,0,3,7,0,0,0,0,0,0,Gad2-IRES-Cre;Ai14-267341.07.02.02
4,0,1,3,0,0,0,0,0,0,Slc17a6-IRES-Cre;Ai14-309388.03.01.01